@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: #fff;
    position: relative;
}

.logo {
    position: fixed;
    left: 2.5vh;
    top: 2.5vh;
    max-height: 9vh;
}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    /*padding: 0 15vh 0 15vh;*/
}

span {
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    color: rgb(56, 56, 56);
    font-size: 4vh;
}

#starting-soon {
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#starting-soon img {
    height: 80vh;
}

#premise {
    width: 100%;
    box-sizing: border-box;
    padding: 2vh 2vh 2vh 2vh;
    background: #00a4e0;
    text-align: center;
    margin-top: 2vh;
}

@keyframes premiseappear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#premise.new span {
    animation-name: premiseappear;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.cam {
    width: 100%;
    min-height: 30vh;
    background: #e0e0e0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#premise span {
    color: #fff;
    font-weight: 1000;
    font-size: 5.5vh;
    text-align: center;
}

.timers {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    margin-top: 12vh;
    padding: 0 15vh 0 15vh;
}

.max-timer {
    font-size: 3.85vh !important;
    color: #f4f4f4 !important;
}

.timers .side, .timers .center {
    height: 17vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.timers .timer {
    width: 100%;
    border-radius: 2vh;
    background: #00a4e0;
    box-sizing: border-box;
    padding: 1vh 10vh 1vh 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
}

.timers .timer.active {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 7px 10px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    transform: scale(1.1);
}

.timers .timer span {
    color: #fff;
    font-size: 6vh;
}

.center .timer {
    background: #f1c232ff;
    height: 17vh;
    border-radius: 0;
    border-top-left-radius: 4vh;
    border-bottom-right-radius: 4vh;
}

.center .timer span {
    font-size: 7.5vh;
}