* {
    margin: 0;
    padding: 0;
}

body {
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

section:first-child {
    background: #000;
}

section {
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    max-height: 20vh;
}